* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-image: linear-gradient(#10597e, #5baab1);
	background-color: #5baab1;
	background-repeat: no-repeat;
	font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#digipal {
	height: 12vh;
	width: auto;
    display: block;
	margin: 3vh auto;
}

#chat {
	font-size: 4vmin;
	-moz-box-shadow: 2px 2px 15px #333;
	-webkit-box-shadow: 2px 2px 15px #333;
	box-shadow: 2px 2px 15px #333;
}

.bubble
{
	display: none;
	margin: 0px;
	padding: 5%;
	vertical-align: top;
	line-height: 150%;
	width: 90%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(0, 0, 0, 0.15);
}

.bubble.blue
{
	background-color: rgba(20, 69, 125, 0.25);
	color: white;
}

.bubble.white
{
	background-color: rgba(255, 255, 255, 0.25);
	color: white;
	text-align: right;
}

#writer{
	outline: none;
}

#writer input{
    width: 100%;
	box-sizing: border-box;
	height: 12vmin;
	padding: 5px 8px;
    border:1px solid #aaa;
	font-size: 3.5vmin;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:4px;
	outline: none;
}