* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
}

#background-image {
	background-image: url(../img/screen.png);
	-webkit-background-size: 100%; /* pour Chrome et Safari */
	-moz-background-size: 100%; /* pour Firefox */
	-o-background-size: 100%; /* pour Opera */
	background-size: 100%; /* version standardisée */
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	left: 0;
	right: 0;
}

#chat {
	position: absolute;
    height: 80%;
    width: 80%;
	top: 15%;
	left: 10%;
	font-size: 2.75vw;
}

#writer{
	position: absolute;
    width: 100%;
	left: 0;
	bottom: 0px;
	outline: none;
}

#writer input{
    width: 100%;
	box-sizing: border-box;
	height: 15vw;
	padding: 5px 8px;
    border:1px solid #aaa;
	font-size: 2.75vw;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:4px;
	outline: 0;
}

#question {
	display: none;
}

#answer {
	display: none;
}

.bubble
{
	position: relative;
	display: inline-block;
	padding: 3px 0px 3px 10px;
	margin-bottom: 40px;
	margin-top: 0px;
	vertical-align: top;
	line-height: 150%;
	width: 90%;
	left: 4%;
	background-color: rgba(20, 69, 125, 0.55);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 2px 2px 15px #333;
	-webkit-box-shadow: 2px 2px 15px #333;
	box-shadow: 2px 2px 15px #333;
}

.bubble.blue
{
	background-color: rgba(20, 69, 125, 0.7);
	color: white;
}

.bubble.white
{
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}