* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    height: 100%;
	background-image: url(../img/blueBG.png);
	-webkit-background-size: 100%; /* pour Chrome et Safari */
	-moz-background-size: 100%; /* pour Firefox */
	-o-background-size: 100%; /* pour Opera */
	background-size: 100%; /* version standardisée */
	background-position: center;
	background-repeat: no-repeat;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #E8E8E8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-weight: normal;
	font-size: 14vmin;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

hr {
	width:60%;
	height:3px;
    border-color: #000;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

#title {
	margin-top: 8vh;
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#logoholder {
	position: relative;
	height: 40vmin;
	margin: 5vh auto 0;
}

#logo {
    height: 40vmin;
    overflow: hidden;
	position: absolute;
	width: 100%;
    bottom: 0;
	animation: grow 6s ease-out 1;
	-webkit-transform: translateZ(0);
}

@keyframes grow {
	0% { height: 0vmin; }
	80% { height: 60vmin; }
	100% { height: 40vmin; }
}

#digipal {
	height: 40vmin;
	margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	animation: growimage 6s ease-out 1;
	-webkit-transform: translateZ(0);
}

@keyframes growimage {
	0% { height: 60vmin; }
	80% { height: 60vmin; }
	100% { height: 40vmin; }
}

#intro {
    opacity: 0;
	text-align: center;
	font-weight: normal;
	font-size: 6vmin;
	margin: 8vh 10% 0 10%;
	animation: blinker 2s ease infinite;
	-webkit-transform: translateZ(0);
}

@keyframes blinker {
	50% { opacity: 1.0; }
}

#start {
	margin-top: 10vh;
    opacity: 0;
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#startButton {
	font-size: 8vmin;
}