* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-image: linear-gradient(#10597e, #5baab1);
	background-color: #5baab1;
	background-repeat: no-repeat;
	color: white;
    font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-weight: normal;
	font-size: 6vmin;
	margin: 0px;
    display: none;
}

hr {
    width: 60%;
	height: 3px;
    border-color: white;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
	margin: 1vh auto;
}

#questionNumber {
	margin: 4vh 0 3vh 0;
	text-align: center;
}

#question {
	font-weight: normal;
	font-size: 5vmin;
	margin: 0 5% 1vh 5%;
    display: none;
}

#question:first-letter {
	font-weight: bold;
}

#myDigipal {
    margin-top: 8vh;
    font-size: 14vmin;
	font-weight: lighter;
    text-align: center;
}

#digipal {
    height: 40vmin;
	width: auto;
    display: block;
	margin: 5vh auto 0;
}

#intro {
	font-weight: lighter;
    text-align: center;
	font-size: 6vmin;
	margin: 8vh 10% 0 10%;
}

#start {
    margin-top: 10vh;
    text-align: center;
	font-weight: lighter;
    font-size: 8vmin;
}

.square {
    float: left;
    margin: 5%;
    padding-bottom: 40%;
    position: relative;
    width: 40%;
	background-color: rgba(0, 0, 0, 0.20);
	box-shadow: 0px 0px 2vmin #000;
	border-radius: 4vmin;
    display: none;
}

.title {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 5%;
	color: #5ecace;
	font-weight: lighter;
	font-size: 5vmin;
    text-align: center;
	margin: 0;
}

.content {
	position: absolute;
	left: 17%;
	top: 23%;
	height: 66%;
	width: 66%;
	border-radius: 2vmin;
}